@font-face {
  font-family: 'CALL OF OPS DUTY';
  src:  url("./doc/assets/fonts/CALL OF OPS DUTY.OTF") format("woff2"); 
       
}

@font-face {
  font-family: "CHILLER";
  src:  url("./doc/assets/fonts/CHILLER.TTF") format("woff2"); 
       
}



* {
  font-family: 'CALL OF OPS DUTY';
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url("./doc/assets/images/zombiewallpaper2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

#example {

background-color: none;
} 

.canvas {
margin: 5%;
border: 10px solid rgb(19, 148, 165);
background-image: url("./doc/assets/images/zombiemall.svg");
background-repeat: no-repeat;
background-size: cover;
border-radius: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  margin: 0;
  padding: 0;
  /* align-content: space-around; */
  justify-content: center;
  align-items: center;
  font-size: 20px;

}

.start-buttons {
    padding: 1em;
}

#start-blue {
background-color: lightblue;
color: white;
border: solid 8px white;
border-radius: 5%;
padding: 30px;
font-size: 30px;

}

#start-pink {
background-color: lightpink;
color: white;
border: solid 8px white;
border-radius: 5%;
padding: 30px;
font-size: 30px;
}

.zombie-title {
font-family: 'CHILLER';
font-size: 100px;
color: darkgreen;
text-shadow: 30px;
font-style: bold;
}

.main-title {
  font-size: 150px;
  padding: 0;
}

.instructions {
  word-wrap: normal;
  width: 40vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  /* align-content: space-around; */
  justify-content: center;
  align-items: center;
  font-size: 20px;
 /* border: solid 2px white;*/
  border-radius: 5%;
  background-color: rgb(1, 1, 17);
  color: hotpink;
}

.instructions > h4 {
  font-family: CHILLER;
  font-size: 30px;
}